*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    padding-top: 100px;
    padding-bottom: 25px;
}
.banner .row .text-center{
    padding: 70px 0px;
}
.note{
    background-color: black;
    padding: 80px 0px;
}
input{
    height: 40px;
    width: 40%;
    font-size: 15px;
    margin-right: 10px;
    color: white;
    text-indent: 10px;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
}
.row .contact{
    padding: 50px 100px;
}
.row .image img{
    height: 500px;
}
@media screen and (max-width: 991px) {
    .row .contact{
        text-align: center;
    }
    .banner .row div{
        text-align: center;
    }
    .row .image img{
        height: 500px;
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .row .contact{
        text-align: center;
    }
    .row .image img{
        height: 500px;
        width: 100%;
    }
}
@media screen and (max-width: 575px) {
    .row .contact{
        text-align: center;
    }
    .row .image img{
        height: 400px;
        width: 100%;
    }
}
@media screen and (max-width: 439px) {
    .row .contact{
        text-align: center;
    }
    .row .image img{
        height: 300px;
    }
}